
@{
    ViewData["Title"] = "Cadastro - Produto";
    Layout = "~/Areas/Backoffice/Views/Shared/_LayoutCadastro.cshtml";
}



<div class="hold-transition login-page">
    <h2>Cadastro de Produtos</h2>
    <div id="root">

    </div>

    <!-- jQuery -->
    <script src="~/backoffice/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/backoffice/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/backoffice/AdminLTE/dist/js/adminlte.min.js"></script>
</div>
<!-- jQuery -->
<script src="~/backoffice/AdminLTE/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/backoffice/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/backoffice/AdminLTE/dist/js/adminlte.min.js"></script>
<script src="~/views/HTTPClient.js?cache=4"></script>
<script src="~/clientapp/dist/views/produto/Index.js"></script>
<script src="~/views/produto/index.js"></script>

